fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.form-control {
  padding: 8px;
  border: 1px solid $color_5;
  &--error {
    border: 1px solid $color_3;
  }
}

.invalid-feedback {
  width: 100%;
  margin-top: 0.25rem;
  font-size: .8em;
  color: $color_3;
}